/* Dark theme styling */
.dark-theme {
    background-color: #1B212C;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
  }
  
  .quiz-config-container, .quiz-section, .quiz-score, .revision-test-config {
    max-width: 800px;
    margin: 0 auto;
  }
  
  form label, .question-container, .question-review {
    margin-bottom: 10px;
  }
  
  .quiz-controls button, form button {
    background-color: #0E53AC;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 4px;
  }
  
  .quiz-controls button:hover, form button:hover {
    background-color: #82C7A5;
  }
  