/* General dashboard styling */
.dashboard {
    display: flex;
    height: 100vh;
    font-family: var(--font-trocchi);
    background-color: #0E0E0E;
  }
  
  /* Sidebar styles */
  .sidebar {
    flex: 1;
    background-color: #1b212c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .sidebar.open {
    width: 220px;
  }
  
  .sidebar.closed {
    width: 60px;
  }
  
  .sidebar-toggle {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar nav ul li {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar nav ul li a {
    color: #82c7a5;
    text-decoration: none;
  }
  
  /* Main content styles */
  .main-content {
    display: flex;
    flex: 4;
    background: #0E0E0E;
    padding: 20px;
  }
  
  .main-column {
    flex: 3;
    margin-right: 20px;
  }
  
  .search-bar input {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom:10px ;
  }
  
  .greeting-section {
   margin-bottom: 40px;
  }
  
  .greeting-section h2 {
    font-family: var(--font-trochut-bold);
  }
  
  .recent-quizzes, .recent-modules {
    margin-top: 5px;
    margin-bottom: 50px;
    background: #4a4c52;
    padding: 15px;
    border-radius: 8px;
    min-height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recent-quizzes h3, .recent-modules h3 {
    font-family: var(--font-trochut-bold);
    
  }
  .recent-modules {
    margin-top: 5px;
    margin-bottom: 50px;
    background: #4a4c52;
    padding: 15px;
    border-radius: 8px;
    min-height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Third column styles */
  .third-column {
    flex: 2;
  }
  
  .calendar {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .calendar h3 {
    font-family: var(--font-trochut-bold);
  }
  
  .recent-uploads {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recent-uploads h3 {
    font-family: var(--font-trochut-bold);
  }
  