
body {
    font-family: Arial, sans-serif;
  }
  
  /*.quiz-container {
    margin: 40px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  */
  .question {

    width: 600px;
    min-height: 100px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;


  }


  .options {
    width: 600px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    
  }
  .timer {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #0E53AC;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .question-card {
    margin-bottom: 20px;
  }
  
  .navigation-buttons button {
    margin: 10px;
  }
  
  .quiz-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  